html, body {
  margin: 0;
  padding: 0;
  background-color:rgb(40,40,40);
  display: flex;
  justify-content: center;
  align-items: center;  
  flex-direction: column;
}

#title{
  position: absolute;
  top: 10%;
  font-family: cursive;
  color: pink;
}
canvas {
  display: block;
  margin-top:50%;
  border: 5px solid black;
  box-shadow: rgb(30,30,30) 5px 5px;
}
